<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="RemoteOnly" />
    <authorization>
      <allow users="*" />
      <deny users="?" />
    </authorization>
  </system.web>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow roles="TVS Staff, Domain Admins" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Cal.aspx">
    <system.web>
      <authorization>
        <allow roles="TVS Staff, Domain Admins" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
